
/*schedule*/

.schedule {

	font-family: 'Open Sans', sans-serif;
	width: 100%;


}

.ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.image img, .ui.avatar.image {

	width: 6.5em;
	height: 6.5em;
}


.ui.definition.table tr td:first-child {

	color: #53BFB7;
}



